<h1><b>Dask</b></h1>

Dask is a flexible library for parallel computing in Python.

Dask is composed of two parts:
<ul>
    <li>
Dynamic task scheduling optimized for computation. This is similar to Airflow, Luigi, Celery, or Make, but optimized for interactive computational workloads.
    </li>
    <li>
“Big Data” collections like parallel arrays, dataframes, and lists that extend common interfaces like NumPy, Pandas, or Python iterators to larger-than-memory or distributed environments. These parallel collections run on top of dynamic task schedulers.
    </li>
</ul>

Dask emphasizes the following virtues:
<ul>
    <li>
Familiar: Provides parallelized NumPy array and Pandas DataFrame objects
</li>
    <li>
Flexible: Provides a task scheduling interface for more custom workloads and integration with other projects.
</li>
    <li>
Native: Enables distributed computing in pure Python with access to the PyData stack.
</li>
    <li>
Fast: Operates with low overhead, low latency, and minimal serialization necessary for fast numerical algorithms
</li>
    <li>
Scales up: Runs resiliently on clusters with 1000s of cores
</li>
    <li>
Scales down: Trivial to set up and run on a laptop in a single process
</li>
    <li>
Responsive: Designed with interactive computing in mind, it provides rapid feedback and diagnostics to aid humans
       </li>
</ul>
<img src="dask-overview.svg" width="90%">

<h2><b>Familiar user interface</b></h2>

<h3>Dask DataFrame mimics Pandas</h3>

In [13]:
import pandas as pd                     
df = pd.read_csv('data/accounts.0.csv')      
df.groupby(df.id).amount.mean()

id
0       514.666667
1      2076.659751
2       558.344272
3       644.715183
4       249.428571
          ...
495    2069.396916
496    1965.103219
497     464.691765
498      90.948468
499      26.029795
Name: amount, Length: 500, dtype: float64

In [12]:
df.head()

    id   names  amount
0  155  Ingrid    1486
1  450   Laura     628
2  363     Dan     995
3  389   Sarah     -48
4  188     Ray     426

In [14]:
import dask.dataframe as dd
df = dd.read_csv('data/accounts.0.csv')
df.groupby(df.id).amount.mean().compute()

id
0       514.666667
1      2076.659751
2       558.344272
3       644.715183
4       249.428571
          ...
495    2069.396916
496    1965.103219
497     464.691765
498      90.948468
499      26.029795
Name: amount, Length: 500, dtype: float64

In [15]:
df.head()

    id   names  amount
0  155  Ingrid    1486
1  450   Laura     628
2  363     Dan     995
3  389   Sarah     -48
4  188     Ray     426

<h3>Dask Array mimics NumPy - documentation</h3>

In [7]:

import numpy as np 
import h5py
f = h5py.File('data/weather-small/')             
x = np.array(f['/small-data'])           
                                                           
x - x.mean(axis=1)

KeyError: 'Unable to open object (component not found)'

In [ ]:
import dask.array as da
f = h5py.File('myfile.hdf5')
x = da.from_array(f['/big-data'],chunks=(1000, 1000))
x - x.mean(axis=1).compute()

<h3>Dask Bag mimics iterators, Toolz, and PySpark - documentation</h3>

In [ ]:
import dask.bag as db
b = db.read_text('2015-*-*.json.gz').map(json.loads)
b.pluck('name').frequencies().topk(10, lambda pair: pair[1]).compute()